html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background: linear-gradient(to right, #e2721f , #e14233);
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100%;
}

h1 {
    font-size: 4rem;
}

.subtitle {
    font-size: 3.3rem;
    line-height: 4rem;
    margin-top: 1rem;
}

p, form input, button {
    font-size: 1.8rem;
}

.app {
    background: #273648;
    width: 80vw;
    height: 90vh;
    display: flex;
    -webkit-box-shadow: 0px 18px 12px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 18px 12px -8px rgba(0,0,0,0.64);
    box-shadow: 0px 18px 12px -8px rgba(0,0,0,0.64);
}

.titles {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.data-view {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 80px 60px;
}

.data-view p {
    color: white;
    margin: 4rem auto;
}

.data-view span {
    color: #ef5447;
}

form input {
    margin-right: 25px;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid #ef5447;
    padding: 10px 0;
    outline: none;
    transition: all ease .3s;
    height: 100%;
}

form input:focus {
    border-color: #be5b52;
}

form button {
    background: #ef5447;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: all ease .3s;
    height: 100%;
}

form button:hover {
    background: #be5b52;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .app {
        flex-direction: column;
        height: auto;
    }

    form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    form button, form input {
        margin: 10px auto;
    }

    h1 {
        font-size: 3rem;
    }
    
    .subtitle {
        font-size: 2.5rem;
    }

    .weather {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .weather p {
        width: 50%;
    }

}

@media screen and (max-width: 1000px) {
    form {
        flex-direction: column;
    }

    form input, form button {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    form input, form buttons {
        width: 100%;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    .subtitle {
        font-size: 2rem;
    }

    .weather p {
        width: 100%;
    }
}